@import "_utilities";

body {
	overflow: hidden;
}

.heading {
	margin: auto;
	text-align: center;
	margin-top: 1.75em;

	h1 {
		color: $lighter;
		letter-spacing: 1.5px;
		font-family: "Merriweather", serif;
		text-transform: capitalize;

		span {
			text-transform: uppercase;
		}
	}
}

.card {
	background: $lighter;
	width: 10.5rem;
	box-shadow: 0 0 10px 1px rgba($darkest, 0.7);
	border-radius: 13px;
	padding-block: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 7rem;
	left: 0;
	right: 0;
	margin: auto;

	img {
		width: 5.5rem;
		height: 5.5rem;
		display: block;
		margin-bottom: 1.5em;
	}

	button {
		@include btn($lighter, #123456, 0.9rem);
	}

	&.card-1 button {
		background: $red;
	}

	&.card-2 button {
		background: $green;
	}

	&.card-3 button {
		background: $orange;
	}

	&.card-1 {
		animation: top 1s 0.5s forwards;
	}

	&.card-2 {
		animation: bottom-left 1s 1.5s forwards;
	}

	&.card-3 {
		animation: bottom-right 1s 2.5s forwards;
	}
}

@keyframes top {
	to {
		transform: translateY(-9rem);
	}
}

@keyframes bottom-left {
	to {
		transform: translate(-10rem, 4.6rem);
	}
}

@keyframes bottom-right {
	to {
		transform: translate(10rem, 4.6rem);
	}
}
