<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/recreation_styles.css">
    <title>Recreation | Timeit!</title>
</head>

<body>
    <h1>Recreation</h1>
    <h2>💭 Quote of the day 💭</h2>    <!-- iske liye author tag chahiye -->
    <h3>{{quote}}</h3>
    <h2>❓ Fact of the day ❓</h2>
    <h3>{{fact}}</h3>
    <h2>🧠 Study tip of the day 🧠</h2>
    <h3>{{hack}}</h3>
    <h2>😂 Stand-up of the day 😂</h2>
    <iframe src="{{source}}" allowfullscreen=True></iframe>
</body>

</html>